@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: Manrope !important;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

.hero-logo {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  mask-image: url("../images/site-logo.svg");
  -webkit-mask-image: url("../images/site-logo.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.error-icon {
  width: 75px;
  height: 75px;
}
@media screen and (min-width: 640px) {
  .error-icon {
    width: 200px !important;
    height: 200px !important;
  }
}
@media screen and (min-width: 1024px) {
  .error-icon {
    width: 250px !important;
    height: 250px !important;
  }
}

/* SWIPER STYLES */
.custom-pagination .swiper-pagination {
  bottom: 40px !important;
}
.custom-pagination .swiper-pagination-bullet {
  background-color: white;
}
.custom-pagination .swiper-button-disabled {
  visibility: hidden;
  border-color: transparent;
}

/* ANT DESIGN STYLES */
.ant-dropdown-menu {
  background-color: #1f1f1f !important;
}

.ant-dropdown-menu-item:hover {
  background-color: #262626 !important;
}
.ant-checkbox-inner {
  border-color: #262626 !important;
  background-color: transparent !important;
}

.ant-popover-inner,
.ant-popover-arrow-content,
.ant-popover-arrow:before {
  background-color: #141414 !important;
}

.ant-popover-content {
  max-width: 80vw;
}
@media screen and (min-width: 640px) {
  .ant-popover-content {
    max-width: 60vw;
  }
}
@media screen and (min-width: 1024px) {
  .ant-popover-content {
    max-width: 20vw;
  }
}

.skeleton-card .ant-skeleton-paragraph li:last-child {
  display: none;
}
.skeleton-card .ant-skeleton-paragraph {
  margin-block-start: 16px !important;
}

.ant-input:focus {
  box-shadow: 0 0 0 2px rgba(76, 76, 76, 0.1);
}

.ant-input-status-error {
  background: rgb(20, 20, 20) !important;
}
.ant-input-status-error:hover,
.ant-input-status-error:focus {
  border-color: #ff4d4f !important;
}

.ant-pagination-item {
  background-color: #1f1f1f !important;
  transition: 0.2s;
}
.ant-pagination-item:hover {
  opacity: 0.7;
}

.ant-pagination-item a {
  color: white !important;
}

.ant-pagination-item-active {
  border-color: #e30000 !important;
  background-color: #e30000 !important;
}

.ant-pagination-item-link {
  background-color: #e30000 !important;
  color: white !important;
}

.ant-pagination-item-ellipsis,
.ant-pagination-item-link-icon {
  color: #e30000 !important;
}

/* CLERK STYLES */
.cl-rootBox,
.cl-signIn-root {
  background-color: #141414;
}

.cl-cardBox,
.cl-signIn-start,
.cl-card {
  background-color: #1a1a1a;
}

.cl-footer {
  display: none;
  background: #141414 !important;
}

.cl-headerTitle,
.cl-formFieldLabel {
  color: white;
}

.cl-formFieldAction {
  color: #b3b3b3 !important;
}

.cl-otpCodeFieldInput {
  color: #fff !important;
}

.cl-formFieldInput {
  background-color: #141414 !important;
  color: #fcfcfd !important;
}
.cl-main button {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  color: white !important;
  border: #1a1a1a !important;
  outline: #1a1a1a !important;
}

.bottombar .ant-segmented-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}
